.container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
  }
  .contentWrapper {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 0 2rem;
    align-self: center;
  }
  .title {
    color: #007c95;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  .section h2 {
    color: #007c95;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .list li {
    margin-bottom: 0.5rem;
    color: #012e37;
  }
  
  .skillList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style-type: none;
    padding-left: 0;
  }
  
  .skill {
    background-color: #e0f2f7;
    color: #007c95;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
  }
  .link {
    background-color: rgb(255, 241, 212);
    color: rgb(187, 128, 3);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
  }